body {
  text-align: center;
  background-color: #282c34;
  overflow: hidden;
}

.star {
  position: absolute;
  z-index: -999999;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 5px 3px white;
}
